<div class="container">
    <div style="margin-top: 12px;">
    <mat-form-field appearance="standard">
      <mat-label>Pesquisa</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Pesquisar" #input>
    </mat-form-field>
    
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort>
    
        <ng-container matColumnDef="Produto">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Produto</th>
          <td mat-cell *matCellDef="let row"> {{row.Produto}} </td>
        </ng-container>
    
        <ng-container matColumnDef="Valor">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Valor</th>
          <td mat-cell *matCellDef="let row"> {{row.Valor}} </td>
        </ng-container>

        <ng-container matColumnDef="Tipo_do_produto">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Tipo do produto</th>
          <td mat-cell *matCellDef="let row"> {{row.Tipo_do_produto}} </td>
        </ng-container>
  
          
        <ng-container matColumnDef="Itens_Acompanhantes">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Itens Acompanhantes</th>
          <td mat-cell *matCellDef="let row"> {{row.Itens_Acompanhantes}} </td>
        </ng-container>
  
        <ng-container matColumnDef="Equipe">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Equipe</th>
          <td mat-cell *matCellDef="let row"> {{row.Equipe}} </td>
        </ng-container>

        <ng-container matColumnDef="ACOES">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Ações </th>
            <td mat-cell *matCellDef="let row">
                <button (click)="editDados(row)" mat-icon-button color="primary">
                    <mat-icon>edit</mat-icon>
                </button>
                <button (click)="deletarDados(row.id)" mat-icon-button color="warn">
                    <mat-icon>delete</mat-icon>
                </button>
            </td>
          </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
        </tr>
      </table>
    
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" aria-label="Select page of users"></mat-paginator>
    </div>
    </div>
  </div>