<h1 mat-dialog-title>Adicionar Produto</h1>
<div mat-dialog-content>
  <form [formGroup]="produtoForm">
    <mat-form-field appearance="outline">
      <mat-label>Produto</mat-label>
      <input formControlName="Produto" matInput placeholder="Produto">
    </mat-form-field>
      <mat-form-field style="margin-left: 5px;" appearance="outline">
        <mat-label>Tipo Do Produto</mat-label>
        <mat-select formControlName="Tipo_do_produto">
            <mat-option *ngFor="let celulares of celular" [value]="celulares.value">
              {{celulares.viewValue}}
            </mat-option>
          </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Valor</mat-label>
        <input formControlName="Valor" matInput placeholder="Valor">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Itens Acompanhantes</mat-label>
        <input formControlName="Itens_Acompanhantes" matInput placeholder="Itens_Acompanhantes">
      </mat-form-field>
      <mat-form-field style="margin-left: 5px;" appearance="outline">
        <mat-label>Equipe</mat-label>
        <mat-select formControlName="Equipe">
            <mat-option *ngFor="let equipes of equipe" [value]="equipes.invalue">
              {{equipes.inviewValue}}
            </mat-option>
          </mat-select>
      </mat-form-field>
  </form>
</div>
<div mat-dialog-action [align]="'end'">
    <button mat-raised-button color="warn" mat-dialog-close>Fechar</button>
    <button style="margin-left: 8px;" mat-raised-button color="primary" (click)="salvar()">{{acaoBtn}}</button>
</div>