<h1 mat-dialog-title>Adicionar Parametros</h1>
<div mat-dialog-content>
  <form [formGroup]="produtoForm">
    <mat-form-field appearance="outline">
        <mat-label>Pressão Arterial (mmHg)</mat-label>
        <input formControlName="DS_CAMPO" matInput placeholder="DS_CAMPO">
        <!-- <mat-select>
            <mat-option *ngFor="let food of foods" [value]="food.value">
              {{food.viewValue}}
            </mat-option>
          </mat-select> -->
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Número de Ordenação</mat-label>
        <input formControlName="NRO_ORDENACAO" matInput placeholder="NRO_ORDENACAO">
      </mat-form-field>
      <mat-form-field style="margin-left: 5px;" appearance="outline">
        <mat-label>Sexo</mat-label>
        <mat-select formControlName="SEXO">
            <mat-option *ngFor="let sexo of sexos" [value]="sexo.value">
              {{sexo.viewValue}}
            </mat-option>
          </mat-select>
      </mat-form-field>
      <mat-form-field style="margin-left: 5px;" appearance="outline">
        <mat-label>IN_OBRIGATORIO</mat-label>
        <mat-select formControlName="IN_OBRIGATORIO">
            <mat-option *ngFor="let obrigatorio of obrigatorios" [value]="obrigatorio.invalue">
              {{obrigatorio.inviewValue}}
            </mat-option>
          </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Chave 1</mat-label>
        <input formControlName="CHAVE1" matInput placeholder="CHAVE1">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Chave 2</mat-label>
        <input formControlName="CHAVE2" matInput placeholder="CHAVE2">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Tipo</mat-label>
        <input formControlName="TIPO" type="number" matInput placeholder="TIPO">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Limite</mat-label>
        <input formControlName="LIMITE" matInput placeholder="LIMITE">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Tipo 2</mat-label>
        <input formControlName="TIPO2" matInput placeholder="TIPO2">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Limite 2</mat-label>
        <input formControlName="LIMITE2" matInput placeholder="LIMITE2">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Opções</mat-label>
        <input formControlName="OPCOES" matInput placeholder="OPCOES">
      </mat-form-field>
  </form>
</div>
<div mat-dialog-action [align]="'end'">
    <button mat-raised-button color="warn" mat-dialog-close>Fechar</button>
    <button style="margin-left: 8px;" mat-raised-button color="primary" (click)="salvar()">{{acaoBtn}}</button>
</div>